h1{
  color:Lavender;
}

p{
  color: whitesmoke;
}

h2{
    font-size: 42px;
    color: teal;
  }

span{
  font-size: 10px;
}

li{
  font-size: 30px;
  font-style: italic;
  color: indigo;
}

.outlined{
    text-shadow: 0 0 12px 2F2C2C, 0 0 12px 2F2C2C, 0 0 12px 2F2C2C, 0 0 12px 2F2C2C;
  }

.special{
  font-size: 38px;
  font-weight: bold;
  font-style: italic;
  color: darkorchid
}

/* SPLIT
   SPLIT
   SPLIT */


   body{
     min-width: 550px;
     margin: 0;
   }


#header{
   background-color: snow;
   height: 110px;
   position: sticky;
 }

header {
   text-align: center;
   float: top;
 }

#base{
   font-family: cursive;
   font-size: 48px;
   font-weight: bolder;
   color: crimson;

   border-radius: 34px;
   background: radial-gradient(circle,
     lightsteelblue 0%, lavender 60%, ghostwhite 85%);
   text-decoration: none;
   position: relative;
   top: 20px;
   min-width: 340px;
   padding: 3px;
   text-align: center;
   margin: 0 auto;
 }


#top{
   height: 32px;
   background: linear-gradient(180deg, saddlebrown 0%, chocolate 120%);
   position: relative;
 }

#ear {
  width: 70px;
  height: 101px;
  background: lightcoral;
  background: linear-gradient(180deg,
    rgba(220, 20, 60, 2) 0%, lightcoral 70%);
  position: absolute; top: 9px;
}

      .left{
        float:left;
        left: 150px !important;
        position: absolute;

      }

      .right{
        float:right;
        right: 150px!important;
        margin-left: 170px;
        position: absolute;
      }


/*  ~~~ MAIN ~~~ */
/*  ~~~ MAIN ~~~ */
/*  ~~~ MAIN ~~~ */


main {
  text-align: center;
  background-color: rgba(218,62,62,1);
}

#spacer{
  height: 1143px;
  background: rgb(245,245,245);
  background: linear-gradient(180deg, snow 143px,
  rgba(246,241,241,1) 36%, rgba(240,128,128,1) 62%, rgba(218,62,62,1) 92%);
  min-width: 126px;
  float: left;
  position: relative;
}
#spacerr{
  height: 1143px;
  background: rgb(245,245,245);
  background: linear-gradient(180deg, snow 143px,
  rgba(246,241,241,1) 36%, rgba(240,128,128,1) 62%, rgba(218,62,62,1) 92%);
  min-width: 126px;
  float: right;
}

    /*  ~~~ WELCOME ~~~ */
    /*  ~~~ WELCOME ~~~ */
    /*  ~~~ WELCOME ~~~ */

        #WELCOME{
          background: rgb(245,245,245);
          background: linear-gradient(180deg, rgba(245,245,245,1) 0%,
          rgba(246,241,241,1) 42%, rgba(240,128,128,1) 72%, rgba(218,62,62,1) 92%);
        }
        #home {
          margin-left: auto; margin-right: auto;
          height: 1000px;
          background: #2F2C2C;
          background: linear-gradient(180deg, #2F2C2C 0%, #2F2C2C 79%, rgba(218,62,62,1) 94%);
          padding-top: 80px;

        }

#Tiffany{
  width: 200px;
  background: none;
  background: radial-gradient(circle,
    rgba(220, 20, 60,90) 0%, rgba(220, 20, 60, 0) 92%);
  padding-top: 10px;
  display: block; margin-left: auto;
  margin-right: auto; width: 200px;
  position: relative;
}


/*
#ABOUTOK {
  margin-left: auto; margin-right: auto;
  width: 575px; height: 1200px;
  background-color: #2F2C2C;
}
*/
